body {
    background-color:beige;
}

#game-window {
    width: 70vw;
    padding: 20px;
    max-width: 500px;
    margin: 80px auto;
    text-align: center;
    display: grid;
    gap: 20px;
    justify-items: center;
    color: rgb(0, 44, 0);
    background-color: antiquewhite;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    border: 10px solid rgb(0, 44, 0);
    border-radius: 20px;
}

#board {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    
}

.box {
    min-width: 90px;
    max-width: 120px;
    aspect-ratio: 1/1;
    height: 100%;
    background-color:darkgoldenrod;
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    align-items: center;
}

.box:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.letter {
    color: white;
    font-size: 4rem;
    font-weight: bolder;

}
.btn {
    padding: 12px 40px;
    border-radius: 5px;
    background-color: rgb(0, 44, 0);
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.98;
    transform: scale(0.98);
}